<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.search-with-elastic-section{
  width: 45%;
  display: inline-block;
  padding: 2%;
}
.search-without-elastic-section{
  width: 45%;
  display: inline-block;
  float: right;
  padding: 2%;
}
.search-section{
  padding-bottom: 17px;
}
.timing-section{
  padding: 2%;
  margin-bottom: 20px;
  text-align: center;
  font-size: 22px;
}
</style>



<div style="overflow-x: auto;">

  <% if @time_took.present? %>
    <fieldset class='timing-section'>
      <legend>Time Took to get result</legend>

      <div>
        <%= label_tag "#{@time_took} Miliseconds" %>
      </div>

    </fieldset>
  <% end %>

  <div class='search-section'>
    <fieldset class='search-with-elastic-section'>
      <legend>Search <b>with</b> ElasticSearch:</legend>
      <%= form_tag search_book_path, method: :get do %>
        <%= hidden_field_tag :with_elastic, true%>
        <%= label_tag 'Search Book' %>
        <%= text_field_tag :search_term, params[:search_term] %>
        <%= submit_tag 'Search'%>
      <% end %>
    </fieldset>

    <fieldset class='search-without-elastic-section'>
      <legend>Search <b>without</b> ElasticSearch:</legend>
      <%= form_tag search_book_path, method: :get do %>
        <%= label_tag 'Search Book' %>
        <%= text_field_tag :search_term, params[:search_term] %>
        <%= submit_tag 'Search'%>
      <% end %>
    </fieldset>
    
  </div>
  <table>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Publisher</th>
      <th>Genre</th>
    </tr>
    <% @books.each do|book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.publisher %></td>
        <td><%= book.genre %></td>
      </tr>
    <% end %>
  </table>
</div>